.weather .weather0 {
    background: url(../img/weathericon/0.png) no-repeat center center;
    background-size:25px 25px;
}

.weather .weather1 {
    background: url(../img/weathericon/1.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather2 {
    background: url(../img/weathericon/2.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather3 {
    background: url(../img/weathericon/3.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather4 {
    background: url(../img/weathericon/4.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather5 {
    background: url(../img/weathericon/5.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather6 {
    background: url(../img/weathericon/6.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather7 {
    background: url(../img/weathericon/7.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather8 {
    background: url(../img/weathericon/8.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather9 {
    background: url(../img/weathericon/9.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather10 {
    background: url(../img/weathericon/10.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather11 {
     background: url(../img/weathericon/11.png) no-repeat center center;
    background-size:25px 25px;
 }
.weather .weather12 {
      background: url(../img/weathericon/12.png) no-repeat center center;
      background-size:25px 25px;
  }

.weather .weather13 {
    background: url(../img/weathericon/13.png) no-repeat center center;
    background-size:25px 25px;
}

.weather .weather14 {
    background: url(../img/weathericon/14.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather15 {
    background: url(../img/weathericon/15.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather16 {
    background: url(../img/weathericon/16.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather17 {
    background: url(../img/weathericon/17.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather18 {
    background: url(../img/weathericon/18.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather19 {
    background: url(../img/weathericon/19.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather20 {
    background: url(../img/weathericon/20.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather21 {
    background: url(../img/weathericon/21.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather22 {
    background: url(../img/weathericon/22.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather23 {
    background: url(../img/weathericon/23.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather24 {
     background: url(../img/weathericon/24.png) no-repeat center center;
    background-size:25px 25px;
 }
.weather .weather25 {
      background: url(../img/weathericon/25.png) no-repeat center center;
    background-size:25px 25px;
}

.weather .weather26 {
    background: url(../img/weathericon/26.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather27 {
    background: url(../img/weathericon/27.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather28 {
    background: url(../img/weathericon/28.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather29 {
    background: url(../img/weathericon/29.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather30 {
    background: url(../img/weathericon/30.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather31 {
    background: url(../img/weathericon/31.png) no-repeat center center;
    background-size:25px 25px;
}
.weather .weather53 {
    background: url(../img/weathericon/53.png) no-repeat center center;
    background-size:25px 25px;
}


